.about-photo{
    width: 25rem;
    height: 25rem;
    background-image: url('../../../public/assets/watch-dogs-2-4k-screensaver-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:375px){
    .about-photo{
        background-position: center;
   
    }
}
@media(max-width:425px){
    .about-photo{
        background-position: center;
   
    }
}
