.about-section{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 3rem;
    scroll-behavior: smooth;
    .line {
        width: 3rem;
        border: solid 0.5px orangered;
    }
}