.contact{
    margin-top: 3rem;
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tittle1 {
            margin: 1rem;
        }

        .line {
            width: 4rem;
            border: solid 1px orangered;
            margin-bottom: 2rem;
        }

    }
    .bar1{
        width: 100%;
        display: flex;
        justify-content: center;
        input{
            width: 35rem;
            height: 3rem;
            border: solid 1px grey;
            border-radius: 0.4rem;
            color: grey;
            padding-left: 1rem;
            margin: 1rem;
        }
    }
    .bar2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            width: 95%;
            height: 15rem;
            padding-bottom: -10rem;
            border-radius: 0.4rem;
            border: solid 1px grey;
        }
        button{
            width: 95%;
            height: 2rem;
            background-color: #333;
            color: white;
            border-radius: 0.4rem;
            border: solid 1px grey;
            margin-top: 1rem;
            cursor: pointer;
        }

    }
}